body {
	background-image: url("http://cleggpromo.com/media/catalog/product/u/r/url.gif");
	font-family: sans-serif;
	font-size: 60px;
	color: black;
	text-align: center;
}
button {
	font-size: 60px;
}